<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">
              {% if page.slug == "getting-started" %}
                <li>
                  <a href="#download">Download Bootstrap</a>
                  <ul class="nav">
                    <li><a href="#download-compiled">Compiled CSS, JS, and fonts</a></li>
                    <li><a href="#download-additional">Additional downloads</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#whats-included">What's included</a>
                </li>
                <li>
                  <a href="#template">Basic template</a>
                </li>
                <li>
                  <a href="#examples">Examples</a>
                </li>
                <li>
                  <a href="#disable-responsive">Disabling responsiveness</a>
                </li>
                <li>
                  <a href="#migration">Migrating from 2.x to 3.0</a>
                  <ul class="nav">
                    <li><a href="#migration-classes">Major class changes</a></li>
                    <li><a href="#migration-new">What's new</a></li>
                    <li><a href="#migration-dropped">What's removed</a></li>
                    <li><a href="#migration-notes">Additional notes</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#browsers">Browser support</a>
                </li>
                <li>
                  <a href="#third-parties">Third party support</a>
                </li>
                <li>
                  <a href="#accessibility">Accessibility</a>
                </li>
                <li>
                  <a href="#license-faqs">License FAQs</a>
                </li>
              {% elsif page.slug == "css" %}
                {% include nav-css.html %}
              {% elsif page.slug == "components" %}
                {% include nav-components.html %}
              {% elsif page.slug == "js" %}
                {% include nav-javascript.html %}
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-md-9" role="main">
          {{ content }}
        </div>
      </div>

    </div>

    <!-- Main docs footer (social buttons, copyright, etc). -->
    {% include colophon.html %}

    <!-- JS and analytics only. -->
    {% include footer.html %}

  </body>
</html>
